#name{
    color: #ffffff;
    font-family: 'Boogaloo', cursive;
    font-size: 50px;
}

.navbar-collapse{
    font-size: 20px; 
}

.satu{
    font-size: 24px;
    font-family: 'Livvic', sans-serif;
}

.dua{
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
}

.tiga{
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
}

.empat{
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
}

.lima{
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 500px;
    margin-top: -70px;
}

.sembilan{
    font-size: 24px;
    font-family: 'Livvic', sans-serif;
}

.sepuluh{
    font-size: 24px;
    font-family: 'Livvic', sans-serif;
    margin-left: 600px;
    margin-top: -410px;
}

img.kanan{
    float: right;
    margin: 30px;
    margin-top: -305px;
    border: 15px solid #D0CEC5;
    width: 400px;
    height: 400px;
}

.rounded-circle{
    float: right;
    margin: 30px;
    margin-top: -310px;
    width: 400px;
    height: 400px;
}

img.plus{
    width: 70px;
    height: 70px;
    margin-left: 500px;
    margin-top: -530px;
}

img.twit{
    width: 40px;
    height: 40px;
    margin-left: 600px;
    margin-top: -530px;
}

img.insta{
    width: 40px;
    height: 40px;
    margin-left: 660px;
    margin-top: -575px;
}

img.fb{
    width: 24px;
    height: 40px;
    margin-left: 720px;
    margin-top: -630px;
}

img.linkedin{
    width: 43px;
    height: 43px;
    margin-left: 763px;
    margin-top: -680px;
}

.byMe{
    height: 200px;
    width: 150px;
    margin-left: 22px;
}

#aturHome{
    margin-top: 100px;
}

#garisHome{
    width:70px;
    height:8px;
    background:#ffffff;
    margin-top: -20px;
}

#garis{
    width:50px;
    height:5px;
    background:#ffffff;
    margin-top: -20px;
}

#garisInt{
    width:50px;
    height:5px;
    background: #ffffff;
    margin-top: -20px;
    margin-left: 500px;
}

#garisTimeline{
    height:2px;
    background: black; 
    margin-top: 150px;
}

#byMe{
   
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
}

#home{
    background-color: #7F867B;
    color: #ffffff;
    height: 500px;
}

#about{
    background-color: #7F867B;
    color: #ffffff;
    height: 500px;
    margin-top: 50px;
}

#experience{
    background-color: #7F867B;
    color: #ffffff;
    margin-top: 50px;
}

#gallery{
    background-color: #7F867B;
    color: #ffffff;
    margin-top: 50px;
    height: 500px;
}

#contact{
    background-color: #7F867B;
    color: #ffffff;
    margin-top: 50px;
    height: 500px;
    margin-bottom: 50px;
}

.main-timeline{
    position: relative;
    transition: all 0.4s ease 0s;
}
.main-timeline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #D0CEC5;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #7F867B;
    border: 2px solid #D0CEC5;
    position: absolute;
    top: 0;
    left: 3px;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}
.main-timeline .timeline-content{
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.main-timeline .date{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: black;
    padding: 12px 33px;
    background: #D0CEC5;
    border-radius: 30px;
    font-family: 'Livvic', sans-serif;
}
.main-timeline .title{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 10px;
    font-family: 'Livvic', sans-serif;
}
.main-timeline .description{
    font-size: 18px;
    color: white;
}
.main-timeline .timeline-content.right{
    float: right;
    text-align: left;
}
@media only screen and (max-width: 767px){
    .main-timeline:before{
        left: 0;
    }
    .main-timeline .timeline-icon{
        left: -8px;
        margin: 0;
    }
    .main-timeline .timeline-content{
        width: 90%;
        float: right;
    }
}