{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
    <div>
        <head>
            {% include 'head.html' %}
        </head>
    </div>

    <div>
        <body style="background-color: #D0CEC5;">
            <div class="container">
                <br>
                <p id="name">Feren.</p>
            </div>

            <div id="jadwal" class="container-fluid"><br>
                <p class="tiga">Add new event</p>
                <div id="garis"></div>
                <br>

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <form action="{% url 'story4:add_event' %}" method="POST">
                    {% csrf_token %}
          
                    <div class="form-group">
          
                        {{form.category.label}} <br>
                        {{form.category}} <br>
          
                        {{form.event_name.label}} <br>
                        {{form.event_name}}
          
                        {{form.date_time.label}} <br>
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                          
                          {{ form.date_time }} <br>
                          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                        {{form.location.label}} <br>
                        {{ form.location }} <br>
          
                        {{form.notes.label}} <br>
                        {{ form.notes }}
                    </div>
                    <button type='submit' class="btn btn-secondary">Submit</button>
                    <a href="{% url 'story4:all_event' %}" class="btn btn-secondary">Back to My Events</a>
                </form>
            </div>

            <script>
                $(function () {
                    $("#datetimepicker1").datetimepicker({
                    format: 'DD/MM/YYYY HH:mm',
                    });
                });
            </script>
        </body>
    </div>
</html>   
{% endblock %}       
          
