{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
    <div>
        <head>
            {% include 'head.html' %}
        </head>
    </div>

    <div>
        <body style="background-color: #D0CEC5;">
            <div class="container">
                <br>
                <p id="name">Feren.</p>
            </div>

            <div id="jadwal" class="container-fluid"><br>
                <p class="tiga">My Event.</p>
                <div id="garis"></div>
                <br>
                <table class="table">
                    <thead>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Date/Time</th>
                        <th>Location</th>
                        <th>Notes</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for event in allevents %}
                        <tr class="success">
                            <td> {{event.category}} </td>
                            <td> {{event.event_name}} </td>
                            <td> {{event.date_time}} </td>
                            <td> {{event.location}} </td>
                            <td> {{event.notes}} </td>
                            <td><a href="{% url 'story4:delete_event' pk=event.pk %}" ><button type="button" class="btn btn-icon btn-danger">Delete</button></a></td>
                        </tr>             
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'story4:add_event' %}" class="btn btn-secondary" role="button">Add new event</a>
    
                <form method="POST" action="{% url 'story4:delete_all' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-icon btn-danger">Delete All</button>
                </form>
            </div>
        </body>
    </div>
</html>
{% endblock %}
        