{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% include "head.html" %}
    </head>

    <body>
        {% include "navbar.html" %}
        {% block content %} {% endblock %}
    </body>
</html>