{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>

<html>
    <div>
        <head>
            {% include 'head.html' %}
        </head>
    </div>

    <div>
        <body style="background-color: #D0CEC5;">
            <div class="container">
                <br>
                <p id="name">Feren.</p>
            </div>

            <div id="contact" class="container-fluid"><br>
                <p class="tiga">Contact me.</p>
                <div id="garis"></div>
                <br>
                <div class="sembilan">
                    <p>Ferenica Dwi Putri<br>STUDENT</p>
                    <br>
                    <p>Phone : <br>0821-8762-6752</p>
                    <br>
                    <p>Email : <br>ferenicha@gmail.com</p>
                </div>
                <div>
                    <img class="plus" src="{% static 'images/plus.png' %}" alt="ikon plus">
                </div>
                
                <div>
                    <a href="https://twitter.com/ferenichaaa">
                        <img class="twit" src="{% static 'images/twit.png' %}" alt="ikon twitter">
                    </a>
                    <a href="https://www.instagram.com/ferenichaaa/">
                        <img class="insta" src="{% static 'images/insta.png' %}" alt="ikon instagram">
                    </a>
                    <a href="https://www.facebook.com/ferenicadwiputri">
                        <img class="fb" src="{% static 'images/fb.png' %}" alt="ikon facebook">
                    </a>
                    <a href="https://www.linkedin.com/in/ferenica-dwi-56b18b194/">
                        <img class="linkedin" src="{% static 'images/linkedin.png' %}" alt="ikon linkedin">
                    </a>
                </div>
                <div>
                    <p class="sepuluh">Follow me</p>
                </div>
                
            </div>
        </body>
    </div>
</html>
{% endblock %}