{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>

<html>
    <div>
        <head>
            {% include 'head.html' %}
        </head>
    </div>

    <div>
        <body style="background-color: #D0CEC5;">
            <div class="container">
                <br>
                <p id="name">Feren.</p>
            </div>

            <div id="gallery" class="container-fluid"><br>
                <p class="tiga">Gallery</p>
                <div id="garis"></div>
                <p id="byMe">Taken by me : )</p>
                <br>
                <img src="{% static 'images/1.jpg' %}" class="byMe">
                <img src="{% static 'images/2.jpg' %}" class="byMe">
                <img src="{% static 'images/3.jpg' %}" class="byMe">
                <img src="{% static 'images/4.jpg' %}" class="byMe">
                <img src="{% static 'images/5.jpg' %}" class="byMe">
                <img src="{% static 'images/6.jpg' %}" class="byMe">
            </div>
        </body>
    </div>
</html>
{% endblock %}