{% load static %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'story4:home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'story4:about' %}">About</a>
            <a class="nav-item nav-link" href="{% url 'story4:experience' %}">Experience</a>
            <a class="nav-item nav-link" href="{% url 'story4:gallery' %}">Gallery</a>
            <a class="nav-item nav-link" href="{% url 'story4:contact' %}">Contact</a> 
            <a class="nav-item nav-link" href="{% url 'story4:all_event' %}">Event</a> 
        </div>
    </div>  
</nav>